*{
margin:0;
padding:0;
font-family:"poppins",sans-serif;
box-sizing:border-box;
}
body
{
background:#262a2f;
color:#333;

}
.top-icons{
list-style:none;
margin:0;
padding:0;
text-align:right;
}
.top-icons li{
display:inline-block;
margin-left:10px;
}
.top-icons i{
font-size:24px;
color:#333;
}
nav
{
position:absolute;
top:0;
right:0;
padding:10px;
}
.search-box
{
width:600px;
background:#fff;
margin:200px auto 0;
border-radius:5px;
}
.row
{
display:flex;
align-items:center;
padding:10px  20px;
}
input
{
flex:1;
height:50px;
background:transparent;
border:0;
outline:0;
font-size:18px;
color:#333;
}
button
{
background:transparent;
border:0;
outline:0;
}
button.fa-solid
{
width:25px;
color:#555;
font-size:22px;
cursor:pointer;
color:green;
}
::placeholder
{
color:purple;
}
.result-box ul
{
border-top:1px solid #999;
padding:15px 10px;
}
.result-box ul li
{
list-style:none;
border-radius:3px;
padding:15px 10px;
cursor:pointer;
}
.result-box ul li:hover
{
background:#e9f3ff;
}


